
.header {
	height: 400px;
	background-image: url(../img/man.jpg);
	background-size: 700px;
	background-repeat: no-repeat;
	background-position: center;
}
.bigsection {
	height: 300px;
	background-image: url(../img/bigcode.jpg);
	background-position: center;
	background-attachment: fixed;
}
.bigsection2 {
	height: 600px;
	background-image: url(../img/bigcode.jpg);
	background-position: center;
	background-attachment: fixed;
}

.textsection {
color: white;
position: center;

}
.h1 {
	color: red;
	position: center;

}